<!DOCTYPE html>
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    //CSS
    link(rel="stylesheet", href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css")
    link(rel="stylesheet", href="assets/css/index.css")
    link(rel="stylesheet", href="assets/css/normalize.css")
    link(rel="stylesheet", href="assets/css/reset.css")
    title Sticky Navigation Menu With Smooth Animation | CSS & JS VANILLA
  body

    header#header 
      nav.nav
        .container
          .nav__burger
            i.icon.ion-md-menu
          .nav__logo
            span
            h1 Codwerk
          .nav__menu
            ul.nav__list
              each val, index in [{titre:'website', link:'https://codwerk.github.io/'}, {titre:'codepen', titre:'github', link:'https://github.com/codwerk'}, {titre:'codesandbox', link:'https://codesandbox.io/u/codwerk'}, {titre:'instagram', link:'https://www.instagram.com/codwerk/'}]
                li.nav__item
                  a(href= val.link target="_blank").nav__link= val.titre
      
      section
        h2 Je suis un Intégrateur Web (designer front-end)
          br
          | passionné de HTML5/CSS3, Full responsive
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed iste rerum a nihil possimus et quis!
          br
          | Dolorum minima, esse, qui dolor earum aperiam accusantium tenetur    non fuga deleniti nemo ut?
        a(href="#" target="_blank").bnt__link Follow Me
    
    script(src="assets/js/index.js")
